<div class="container">
<div class="row">

    <div class="col-md-6">
        <h2 class="text-center">Add Category</h2>

        <form action="/admin/add-category" class="m-5" method="POST" id="category" enctype="multipart/form-data">
            <label for="">Category Name</label>
        <br>
            <input type="text" name="Name" class="form-control" ><br>
              
                <label for=""><br>Image</label><br>
            <input name="Image" type="file"  class="form-control"><br>

            <button type="submit" class="btn btn-success mt-4">Submit</button>
        </form>

    </div>
</div></div>