<!-- Footer -->
<footer class="bg3 p-t-75 p-b-32">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-lg-3 p-b-50">
        <h4 class="stext-301 cl0 p-b-30">
          Categories
        </h4>
{{#each categories}}
        <ul>
          <li class="p-b-10">
            <a href="/catdetails/{{this.Name}}"" class="stext-107 cl7 hov-cl1 trans-04">
              {{this.Name}}
            </a>
          </li>

         
        </ul>
        {{/each}}
      </div>

      <div class="col-sm-6 col-lg-3 p-b-50">
        <h4 class="stext-301 cl0 p-b-30 ms-4">
          Actions
        </h4>

        <ul>
          <li class="p-b-10">
            <a href="/signup" class="stext-107 cl7 hov-cl1 trans-04">
             Signup
            </a>
          </li>

          <li class="p-b-10">
            <a href="/login" class="stext-107 cl7 hov-cl1 trans-04">
             Login
            </a>
          </li>

          <li class="p-b-10">
            <a href="/loginotp" class="stext-107 cl7 hov-cl1 trans-04">
              OTP Login
            </a>
          </li>

        
        </ul>
      </div>

      <div class="col-sm-6 col-lg-3 p-b-50">
        <h4 class="stext-301 cl0 p-b-30">
          GET IN TOUCH
        </h4>

        <p class="stext-107 cl7 size-201">
          Any questions? Let us know in <br> store at 8th floor, 379 Hudson St, <br> New
          York, NY 10018 or call us on 8157037565
        </p>

       
      </div>

      <div class="col-sm-6 col-lg-3 p-b-50">
        <h4 class="stext-301 cl0 p-b-30">
          For You
        </h4>

       
            <div class= "focus-input1 trans-04" ></div>
           <p class="stext-107 cl7 size-201">
         Send your feedback and  suggestion to us
        </p>

          <div class="p-t-18">
            <a href="mailto:sabnapv01@gmail.com">
            <button
              class="flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04"
            >
              Message Me
            </button></a>
          </div>
       
      </div>
    </div>

    <div class="p-t-10">
      <div class="flex-c-m flex-w p-b-18">
        <a href="#" class="m-all-1">
          <img src="images/icons/icon-pay-01.png" alt="ICON-PAY" />
        </a>

        <a href="#" class="m-all-1">
          <img src="images/icons/icon-pay-02.png" alt="ICON-PAY" />
        </a>

        <a href="#" class="m-all-1">
          <img src="images/icons/icon-pay-03.png" alt="ICON-PAY" />
        </a>

        <a href="#" class="m-all-1">
          <img src="images/icons/icon-pay-04.png" alt="ICON-PAY" />
        </a>

        <a href="#" class="m-all-1">
          <img src="images/icons/icon-pay-05.png" alt="ICON-PAY" />
        </a>
      </div>

      <p class="stext-107 cl6 txt-center">
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        Copyright &copy;<script>document.write(new Date().getFullYear());</script>
        All rights reserved | Made by
       <a
            href="https://sabna7565.github.io/Sabna---Personal-Website/"
            target="_blank"
            style="color: rgba(0, 0, 255, 0.678);"
          >Sabna PV</a>
       
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

      </p>
    </div>
  </div>
</footer>


